* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(http://www.transparenttextures.com/patterns/wood.png);`

}

header {
  /* 4% of height and width = 4vmin */
  font-size: 4vmin;
  color: black;
  letter-spacing: 1vmin;
}

h1 {
  color: black;
  font-size: 3vmin;
  text-transform: capitalize;
  margin-bottom: 50px;
}

#board {
  display: grid;
  grid-template-columns: repeat(3, 15vmin);
  grid-template-rows: repeat(3, 15vmin);
  /* gap: 1vmin; */
  margin-top: -4vmin;
  background-color: antiquewhite;
}

#board > div {
  /* border: 0.2vmin solid grey; */
  border: 1vmin solid burlywood;
}

button {
  margin-top: 4vmin;
  padding: 2vmin;
  font-size: 2vmin;
  border-radius: 4vmin;
  border: 0.1vmin solid grey;
  color: grey;
}

button:hover {
 
  transform: scale(0.9);
  transition: transform 150ms ease-in; 
  border-top-color: darkgrey;
}

.signs {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10vmin;
}
